<!-- Load static files -->
{% load static %} 
<footer class="footer">
    <div class="footer__elements">
        <div>
            <h1>Download the app</h1>
            <div class="footer__stores"> 
                <a href="https://play.google.com/store/apps/details?id=com.takeaway.android&hl=nl">
                    <img src="{% static '/assets/google-play-badge.png' %}" alt="Download the iOS app" class="footer__img">
                </a>
                <a href="https://apps.apple.com/nl/app/thuisbezorgd-nl/id329472759">
                    <img src="{% static '/assets/apple-store-badge.png' %}" alt="Download the Android app" class="footer__img">
                </a>
            </div>
        </div>
        <img src="{% static '/assets/542079-JET-Logo-White-Secondary-Horizontal-Stacked-RGB-2d19fa.png' %}" alt="Logo of the Just Eat Takeaway.com" class="footer__jet__logo">
    </div>
</footer>