<!-- Load static files -->
{% load static %} 
<footer class="footer">
    <div class="footer-elements">
        <div>
            <h4>Download the app</h4>
            <div class="footer-stores"> 
                <a href="https://play.google.com/store/apps/details?id=com.takeaway.android&hl=nl">
                    <img src="{% static '/assets/google-play-badge.png' %}" alt="Download the iOS app">
                </a>
                <a href="https://apps.apple.com/nl/app/thuisbezorgd-nl/id329472759">
                    <img src="{% static '/assets/apple-store-badge.png' %}" alt="Download the Android app" >
                </a>
            </div>
        </div>
        <img src="{% static '/assets/542079-JET-Logo-White-Secondary-Horizontal-Stacked-RGB-2d19fa.png' %}" alt="Logo of the Just Eat Takeaway.com" >
    </div>
</footer>