{% extends 'restaurants/base.html' %}
{% load static %}
{% block content %}

<main class="main-elements">
    <img src="{% static '/assets/542076-JET-Logo-Orange-Secondary-Horizontal-Stacked-RGB-95f33b.png' %}" 
        alt="Logo of the Just Eat Takeaway.com">
    <div>
        <div>
            <h2>Order food</h2>
            <h3>Search restaurants near you</h3>
        </div>
        <form action="{% url 'pagination' %}" >
            <div class="search-elements">
                <img src="{% static '/assets/search_16dp_FF8000_FILL0.svg' %}" alt="Search icon">
                <input type="text" placeholder="Postcode" name="searchPostCode">
                <button type="submit"><span>Search</span></button>
            </div>
        </form>
    </div>
    
</main>
{% endblock %}