{% extends 'restaurants/base.html' %}
{% load static %}
{% block content %}
<header class="header-elements">
    <a href="#">
        <img src="{% static '/assets/542076-JET-Logo-Orange-Secondary-Horizontal-Stacked-RGB-95f33b.png' %}" alt="Logo of the Just Eat Takeaway.com" class="header__jet__logo">
    </a>
    <form action="{% url 'pagination' %}" >
        <div class="search-elements">
            <img src="{% static '/assets/search_16dp_FF8000_FILL0.svg' %}" alt="Search icon">
            <input type="text" placeholder="Postcode" name="searchPostCode">
            <button type="submit"><span>Search</span></button>
        </div>
    </form>
</header>

<main>   

    <div class="restaurant-grid">
        {% for restaurant in page_object %}
        <div class="restaurant">

            <div class="restaurant-image">
                <img src="{% static '/assets/restaurant-logo.jpg' %}" alt="A generic image of a restaurant" >      
                <img src="{{ restaurant.logoUrl }}" alt="Restaurant's logo" class="restaurant-image-logo">      
            </div>

            <div class="restaurant-text">
                <h3>{{ restaurant.name }}</h3>
                <div class="restaurant-metadata">
                    <img src="{% static '/assets/star_16dp_FFFFFF_FILL1.svg' %}" width="14px" height="14px">
                    <span>{{ restaurant.rating.starRating }} ({{ restaurant.rating.count }})</span>
                </div>
                <div class="restaurant-metadata">
                    <img src="{% static '/assets/restaurant_16dp_FFFFFF_FILL1.svg' %}" width="14px" height="14px">
                    {% for cuisine in restaurant.cuisines %} 
                    <span>{{ cuisine }}, </span>
                    {% endfor %}
                </div> 
                <div class="restaurant-metadata">
                    <img src="{% static '/assets/location_on_16dp_FFFFFF_FILL1.svg' %}" width="14px" height="14px">
                    <span>{{ restaurant.address.firstLine }}, {{ restaurant.address.city }}</span>
                </div>
            </div>
  
        </div>
        {% endfor %}
    </div>
    
    <!--PAGINATION-->
    <div class="pagination">
        {% if page_object.has_previous %}
            <a href="?searchPostCode={{ postcode }}&page=1">First</a>
            <a href="?searchPostCode={{ postcode }}&page={{ page_object.previous_page_number }}">{{ page_object.previous_page_number }}</a>
        {% endif %}

        <a href="?searchPostCode={{ postcode }}&page={{ page_object.number }}" >{{ page_object.number }}</a>
            
        {% if page_object.has_next %}
            <a href="?searchPostCode={{ postcode }}&page={{ page_object.next_page_number }}">{{ page_object.next_page_number }}</a>
            <a href="?searchPostCode={{ postcode }}&page={{ page_object.paginator.num_pages }}">Last</a>
        {% endif %}
     
    </div>
</main>
{% endblock %}